.active{
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    color: rgb(133, 120, 120);
    font-weight: bold;
}
a{
    text-decoration: none;
    margin-left: 10px;
    color: rgb(196, 187, 187);
    font-weight: bold;
}
a:hover{
    color: rgb(196, 187, 187);
}

.btn-login{
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
    color: white;
}


@media screen and (max-width:500px) {
    li{
        /* margin-top: 10px; */
        margin-bottom: 15px;
    }
}